.hero-section{
    //height: 100vh;
    position:relative;
    overflow: hidden;
    padding-bottom: 20%;
}

.hero-content{
    position: relative;
    z-index: 1;
    text-align: center;
    //padding: 20px;  
}