/* CSS for the chart container */
.chart-container{
    position: relative;
    width: 100%;
    height: 85vh;
    //padding-top: 100%; /* 16:9 aspect ratio (9 / 16 * 100%) */
    background-color: grey;
    
    }


/* Style for the Plotly chart itself */
#plotly-chart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}