.gradient-word {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to left,
    #03f8b7,
    #00976F,
    #38F7FC,
    #02ADF3,
    #CD09F7
    
  );
}
.gradient-background {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -5;
  background-color: #505681;
  background-image: linear-gradient(180deg, #fff 0%, #5062e8 100%);
  background-size: cover;
}
