.results-section {
  position: relative;
  width: auto;
  height: auto;
  z-index: -2;
}

.between-section {
  position: relative;
  top: -150px;
  left: 0px;
  margin-bottom: -150px;
  @media (width> 576px) {
    top: -200px;
  }
  @media (width> 992px) {
    top: -280px;
  }
}
.results-section-graph {
    position: relative;
    width: auto;
    height: auto;
    background: #fff;
    //margin-bottom: 800px;
    @media (width> 576px) {
    //  margin-bottom: 600px;
    }
    @media (width> 992px) {
     // margin-bottom: 300px;
    }
    z-index: -2;
  }
  