$bg_1:rgb(255, 255, 255);
$bg_2:#F2F2F2;
$bg_3:#faf048;
$bg_4:#2dc1d7;
$bg_5:#333333;
$bg_gd_1:#2dc0d75b;
$bg_gd_2:#3333335d;
$txt_1:#2dc1d7;
$txt_2:#000000;
$txt_3:#ffffff;
$txt_4:#333;

$shadow_1:#535151;


$color_light:(
background:$bg_2,
title:$txt_1,
texto:$txt_2,
);

